*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:linear-gradient(to right,blue,white);
}
.file-uploader{
    width: 500px;
    background: white;
    border-radius: 10px;
}
.file-uploader .uploader-header{
    display: flex;
    padding:20px;
    background: rgb(232, 232, 235);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    justify-content: space-between;
}
.uploader-header .uploader-title{
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.uploader-header .file-completed-status{
    font-size: 1rem;
    font-weight: 500;
    color: black;
}
.file-uploader .file-list{
    list-style: none;
    width: 100%;
    padding-bottom:10px;
    max-height: 400px;
    overflow-y: auto;
    scrollbar-color:rgb(173, 170, 170) transparent;
    scrollbar-width: thin;
}
.file-uploader .file-list:has(li){
padding: 20px;
}

.file-list .file-item{
    display: flex;
    gap: 14px;
    margin-bottom: 23px;
}
.file-list .file-item .file-extension{
    height: 50px;
    width: 50px;
    color:white;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: #5145BA;
}
.file-list .file-item .file-content-wrapper{
    flex:1;
}
.file-list .file-item .file-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.file-list .file-item .file-name{
    font-size:1rem;
    font-weight: 600;
}
.file-list .file-item .file-info{
    display: flex;
    gap:5px;
}
.file-list .file-item .file-info small{
    color:rgb(116, 113, 113);
    margin-top: 5px;
    display: block;
    font-size:0.9rem;
    font-weight: 500;
}
.file-list .file-item .file-info .file-status{
    color:blue;
}
.file-list .file-item .cancel-button{
    align-self: center;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 1.4rem;
}
.file-list .file-item .cancel-button:hover{
    color: red;
}
.file-list .file-item .file-progress-bar{
    width: 100%;
    height: 3px;
    margin-top: 10px;
    border-radius: 30px;
    background: rgb(202, 200, 200);

}
.file-list .file-item .file-progress-bar .file-progress{
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: #5145BA;
}
.file-uploader .file-upload-box{
    margin:10px 20px 20px;
    border-radius: 5px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed rgb(168, 168, 177);
    transition: all 0.2s ease;
}
.file-uploader .file-upload-box.active{
    border: 2px solid violet;
    background: #F3F6FF;
}

.file-uploader .file-upload-box .box-title{
    font-size: 1.05rem;
    font-weight: 500;
    color:rgb(85, 84, 84);
}
.file-uploader .file-upload-box.active .box-title{
    pointer-events: none;
}
.file-upload-box .box-title .file-browse-button{
    color: blue;
    cursor: pointer;
}
.file-upload-box .box-title .file-browse-button:hover{
    text-decoration: underline;
}
